.container{
  width: 80%;
  margin: auto;
  margin-top: 30px;
	
}

main {
  /*width: 80%;
  margin: auto;
  margin-top: 30px;*/
}

header{
  height: 30px;
  
}


/* Adapted from https://www.sitepoint.com/building-an-interactive-navigation-bar/ */
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}
  
/* Give the body a width */
body {
  /*width: 100%;*/
  /*margin-left: 20%;
  max-width: 960px;
  margin: 0 auto;*/
}


/* Make the nav take up the whole body width, and give it some top and bottom margin space */
nav {
  float: left
  position: fixed;
  width: 10%;
  min-width: 40px;
  max-width: 300px;
  /*margin: 20px 0;*/
  height: 100%;
}

/* Make the list of links take up the whole width of the nav */
nav ul {
  width: 100%;
}

nav ul li {
  width: 80%;
  float: left;
}

nav ul li a {
  display: block;
  width: 100%;
}

nav ul {
  width: 100%; /* from above */
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	main{
		width: 100%;
		margin-top: 30px;
	}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

/* Styles */
	main{
		width: 100%;
		margin-top: 30px;
	}

}