.contents{
	margin-left: 20%;
	margin-right: 10%;
}

main {
  margin-top: 10px;
  /*width: 80%;
  margin: auto;
  margin-top: 30px;*/
}

header{
  height: 10%;
  margin-bottom: 10px;
  min-height: 50px;
  max-height: 100px;
}


/* Adapted from https://www.sitepoint.com/building-an-interactive-navigation-bar/ */
/* Make the nav take up the whole body width, and give it some top and bottom margin space */
nav {
  position: fixed;
  width: 20%;
  min-width: 40px;
  max-width: 300px;
  top: 30%;
  margin: auto 0 auto 0;
  /*margin: 20px 0;
  height: 100%;*/
}

/* Make the list of links take up the whole width of the nav */
nav ul {
  width: 100%;
}

nav ul li {
  width: 80%;
  float: left;
}

nav ul li a {
  display: block;
  width: 100%;
}

nav ul {
  width: 100%; /* from above */
  list-style: none;
  margin: 0;
  padding: 0;
}

.index-img{
	width: 30%;
	float: left;
	margin: 20px;
}

.index-details{
	/*position: relative;*/
	float: left;
	width: auto;
}

.fa-ul li{
	font-size: 1.2em;
}

li i{
	width: 45px;
	height: 45px;
	text-align: center;
	margin-right: 10px;
}

nav ul li a{ font-size: 1.2em; }

.menu{ 
	font-size: 1.5em;
	padding-left: 20px;
}

i.menu { padding-left: 10px; }

.content{
	clear: left;
}

#daltonCurrentTime{
	text-align: right;
}


@media (max-width : 767px) {

	/*main{
		margin-top: 0px;
	}*/
	
	header{
	  height: 20%;
	  margin-bottom: 10px;
	  min-height: 30px;
	  max-height: 50px;
	}
	
	#greeting{
		padding-top: 5px;
		vertical-align: sub;
	}
	
	.index-img{
		width: 75%;
		margin-bottom: 20px;
	}
	
	.index-details{
	/*position: relative;*/
		float: left;
		width: auto;
	}
	
	.fa-ul li{
		font-size: .8em;
	}

	li i{
		width: 30px;
		height: 30px;
		text-align: center;
		margin-right: 10px;
	}

	nav ul li a{ font-size: .8em; }

	.menu{ 
		font-size: 1em;
		padding-left: 10px;
	}


}

@media (min-width : 768px) and (max-width : 991px) {

/* Styles */
	/*main{
		width: 100%;
		margin-top: 30px;
	}*/
	
	header{
	  height: 15%;
	  min-height: 50px;
	  max-height: 70px;	  
	}
	
	#greeting{
		padding-top: 10px;
		vertical-align: sub;
	}
	
	.index-img{
		width: 50%;
		float: left;
		margin: 20px;
	}
	
	.fa-ul li{
		font-size: 1em;
	}

	li i{
		width: 35px;
		height: 35px;
		text-align: center;
		margin-right: 10px;
	}

	nav ul li a{ font-size: 1em; }

	.menu{ 
		font-size: 1.2em;
		padding-left: 20px;
	}
	
	.index-details{
		/*position: relative;*/
		float: left;
		width: auto;
	}


}

@media and (min-width : 2000px) {
	.contents{
		width: 60%;
		margin: auto;
	}
	
	header{
	  height: 15%;
	  margin-bottom: 10px;
	}
	
	.fa-ul li{
		font-size: 1.6em;
	}

	li i{
		width: 60px;
		height: 60px;
		text-align: center;
		margin-right: 10px;
	}

	nav ul li a{ font-size: 1.6em; }

	.menu{ 
		font-size: 2em;
		padding-left: 25px;
	}

	i.menu { padding-left: 15px; }

	.content{
		clear: left;
	}
	
	.index-img{
		width: 40%;
		float: left;
		margin: 20px;
	}
}