.container{
  width: 80%;
  margin: auto;
  margin-top: 30px;
	
}

main {
  margin-top: 10px;
  /*width: 80%;
  margin: auto;
  margin-top: 30px;*/
}

header{
  height: 15%;
  margin-bottom: 10px;
  min-height: 50px;
  max-height: 100px;
  
}


/* Adapted from https://www.sitepoint.com/building-an-interactive-navigation-bar/ */
/* Make the nav take up the whole body width, and give it some top and bottom margin space */
nav {
  position: fixed;
  width: 10%;
  min-width: 40px;
  max-width: 300px;
  top: 30%;
  margin: auto 0 auto 0;
  /*margin: 20px 0;
  height: 100%;*/
}

/* Make the list of links take up the whole width of the nav */
nav ul {
  width: 100%;
}

nav ul li {
  width: 80%;
  float: left;
}

nav ul li a {
  display: block;
  width: 100%;
}

nav ul {
  width: 100%; /* from above */
  list-style: none;
  margin: 0;
  padding: 0;
}

.index-img{
	image-orientation: 90deg;
	width: 25%;
	height: 25%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	main{
		margin-top: 0px;
	}
	
	header{
	  height: 20%;
	  margin-bottom: 10px;
	  min-height: 50px;
	  max-height: 100px;	  
	}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

/* Styles */
	main{
		width: 100%;
		margin-top: 30px;
	}
	
	header{
	  height: 15%;
	  min-height: 50px;
	  max-height: 100px;	  
	}

}